* {
    font-family: "Rajdhani", "Rajdhani-SemiBold";
    box-sizing: border-box;
    margin: 0;
  }
  

html {
  min-height: 100vh;
  color: white;
  background-color: #22262C;
  font-size: 100%;
}

a:visited {
  color: currentColor;
}

header {
  width: 100%;
  font-weight: bold;
  background-color: #22262C;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #22262C;
}

@font-face {
    font-family: "Rajdhani-SemiBold";
    src: 
    url('../../assets/fonts/rajdhani-font/RajdhaniSemibold-D3DD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rajdhani";
    src: 
    url('../../assets/fonts/rajdhani-font/Rajdhani-Zzm3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}